// home page
extends layout

block content
    script(src="https://cdn.auth0.com/js/lock-7.11.js")

    br

    script.
      var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}');
      function signin() {
        lock.show({
            callbackURL: '#{env.AUTH0_CALLBACK_URL}'
          , responseType: 'code'
          , authParams: {
            scope: 'openid name email picture'
          }
        });
      }

    .container-fluid
      .row
        .col-md-12
          .jumbotron
            h2
              | Welcome!
            p
              | Log in with Twitter to see your Twitter profile picture, various filters applied to the picture and also your location!
            p
              a.btn.btn-primary.btn-large(onclick='signin()')
                | Login with
                i.fa.fa-2x.fa-twitter




          nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Twitter Filters
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
              ul.nav.navbar-nav.navbar-right