//display the profile page
extends layout

block content
  h2 Welcome #{user.nickname} from #{user._json.location}!

  h2
    a(href='/logout') Logout

  h2 Images (with filters):

  .container-fluid
    .row
      .col-md-4
        img.img-circle(width='300', height='300', src="#{user.picture}")
      .col-md-4
        img.img-circle(width='300', height='300', class="desaturate", src="#{user.picture}")
      .col-md-4
        img.img-circle(width='300', height='300', class="sepia", src="#{user.picture}")
  br
  .container-fluid
    .row
      .col-md-4
        img.img-circle(width='300', height='300', class="saturate", src="#{user.picture}")
      .col-md-4
        img.img-circle(width='300', height='300', class="huerotate", src="#{user.picture}")
      .col-md-4
        img.img-circle(width='300', height='300', class="invert", src="#{user.picture}")



  br

  h2 Map

  iframe(width='300', height='300', frameborder='0', style='border:0',
  src='https://www.google.com/maps/embed/v1/place?key=AIzaSyAIM4GuHA9EDVk3lyM3BDtXBgIsIuWrzPA&q=#{user._json.location}', allowfullscreen='')
