body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* webkit filter to desurate (black and white) */
img.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* webkit filter to sepia */
img.sepia {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

/* webkit filter to saturate  */
img.saturate {
    -webkit-filter: saturate(4);
    filter: saturate(4);
}

/* webkit filter to invert () */
img.invert {
    -webkit-filter: invert(.8);
    filter: invert(.8);
}

a {
  color: #00B7FF;
}
